{% load static %}

        <link rel="stylesheet" type="text/css" href="../../static/css/register.css"/>

{% block content %}
  <div class="body">
        <div class="center-column">
            <div class="container-fluid" id="wrapper">
	            <div class="row">

                        <form method="post">

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
         {{ form.as_p }}
        <center>
         <button
                type="submit"
                class="btn btn-success"
                id="add-btn">Bestätigen
        </button>
        </center>

    </form>

    </form>

	            </div>
            </div>
        </div>
  </div>


{% endblock %}