
<!DOCTYPE html>
<html>

    <head>

        {%load static %}
         <link rel="stylesheet" href="{% static 'css/delete.css' %}">
        <link rel="stylesheet" type="text/css" href="../../static/css/delete.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"
	    >
    </head>

    <div class="body">
        <div class="center-column">
            <div class="container-fluid" id="wrapper">
	            <div class="row">
                    <center>
                        <span style='font-size:100px;'>&#10071;</span>
		                <p>

			                Sicher das du "{{item}}" löschen möchstest?

                        </p>
                        </center>
	            </div>
            </div>
        <div style="text-align: -webkit-center">
             <form>
                    <button

                        type="submit"
                        class="btn btn-danger"
                        id="add-btn">
                        <a href="{% url 'list' %}" >Abbrechen</a>
                     </button>

             </form>

            <form method="POST" action="">
                {% csrf_token %}
                <button type="submit"
                        class="btn btn-success"
                        id="add-btn">Ja</button>
            </form>

        </div>
        </div>
    </div>
</html>