
 <!DOCTYPE html>
<div>
</div>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/list.css' %}">
        <link rel="stylesheet" type="text/css" href="../../static/css/list.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <div class="body">
        <div class="center-column">
            <div class="container-fluid" id="wrapper">


                    <center>
                    <p>
                        Suchergebnisse
                    </p>

                        <button

                        type="submit"
                        class="btn btn-light"
                        id="add-btn">
                        <a href="{% url 'list' %}" >Zurück zur Liste</a>
        </button>
                    </center>


            </div>

	    <div class="todo-list">

         {% for task in tasks %}
		    <div class="item-row">


			    <a class="btn btn-sm btn-dark" href="{% url 'update_task' task.id %}">Bearbeiten
                 <span class="glyphicon glyphicon-pencil"></span>   </a>


                <a class="btn btn-dark" href="{% url 'updatenotiz' task.id %}">Notiz
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>


			    <a class="btn btn-sm btn-danger" href="{% url 'delete' task.id %}">
                <span class="glyphicon glyphicon-trash"></span>
                </a>


			    {% if task.complete == True %}

			    <li class="list-group todo-completed">{{ task }}</li>

			    {% else %}

			    <a href="{% url 'complete' task.id %}"><li class="list-group">{{task}}</li></a>
			    {% endif %}




               <td>
            {% if task.note %}
             <h5>Notiz: {{ task.note }}</h5>
            {% else %}
                  <span class="text-muted"></span>
            {% endif %}
            </td>



            <td>
            {% if task.cover %}
              <img src="{{ task.cover.url }}" alt="{{ task.title }}" style="width:200px;">
            {% else %}
                  <span class="text-muted"></span>
            {% endif %}
            </td>



            <div class="date">{{ task.created }}</div>

		    </div>

         {% endfor %}


	    </div>
    </div>
 </div>

</html>