
 <!DOCTYPE html>
<div>



</div>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/list.css' %}">
        <link rel="stylesheet" type="text/css" href="../../static/css/list.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <center>
         {% if user.is_authenticated %}
        <p class="top-menu"> &#127881 Hallo {{ user.username }} &#127881</p>

        <!--<a href="{% url 'logout' %}" class="btn btn-danger btn-lg">
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </a>-->

        <a href="/logout" class="btn btn-danger btn-lg">
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </a>

    {% else %}
             <center>
             <p>&#10071 Abgemeldet &#10071</p></center>
        <p>&#10071 Bitte erst einloggen &#10071</p>

         <a href="{% url 'login' %}" class="btn btn-light btn-lg">
          <span class="glyphicon glyphicon-log-in"></span> Log in
        </a>
        {% endif %}
    </center>

    {% if user.is_authenticated %}
    {% block content %}
<div class="row">
    <div class="col-md-6" style="margin:0 auto;">
      <form action="{% url 'searchdata' %}">
          <mark for="query">Nach Todo-Titel suchen</mark>
        <input type="search" class="form-control" name="query" id="query">
        <button type="submit" class="btn btn-success" style="display: block;margin: 1rem auto;">Suchen</button>
      </form>
    </div>
  </div>



    </head>
    <div class="body">
        <div class="center-column">
            <div class="container-fluid" id="wrapper">
	            <div class="row">

                    <p>
                        WAS MÖCHTEST DU HEUTE ERLEDIGEN?
                    </p>


                </div>
            </div>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.title }}
         <button
                type="submit"
                class="btn btn-success"
                id="add-btn">Hinzufügen
        </button>
            {{ form.cover }}
    </form>


       <div class="row t10">
	    <div class="col-lg-12">
		    <div class="btn-toolbar">
			    <div class="btn-group">



                    <a href="{% url 'deletecomplete' %}"><button type="button" class=" btn btn-danger">
					    <i class="glyphicon glyphicon-trash"></i> ERLEDIGTE LÖSCHEN
				    </button></a>
				    </div>
			    <div class="btn-group">
				    <a href="{% url 'deleteall' %}"><button type="button" class="btn btn-danger">
					    <i class="glyphicon glyphicon-trash"></i> ALLE LÖSCHEN
				    </button></a>
			    </div>
		    </div>
	    </div>
    </div>
	    <div class="todo-list">

         {% for task in tasks %}
		    <div class="item-row">


			    <a class="btn btn-sm btn-dark" href="{% url 'update_task' task.id %}">Bearbeiten
                 <span class="glyphicon glyphicon-pencil"></span>   </a>


                <a class="btn btn-dark" href="{% url 'updatenotiz' task.id %}">Notiz
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>


			    <a class="btn btn-sm btn-danger" href="{% url 'delete' task.id %}">
                <span class="glyphicon glyphicon-trash"></span>
                </a>


			    {% if task.complete == True %}

			    <li class="list-group todo-completed">{{ task }}</li>

			    {% else %}

			    <a href="{% url 'complete' task.id %}"><li class="list-group">{{task}}</li></a>
			    {% endif %}




               <td>
            {% if task.note %}
             <h5>Notiz: {{ task.note }}</h5>
            {% else %}
                  <span class="text-muted"></span>
            {% endif %}
            </td>



            <td>
            {% if task.cover %}
              <img src="{{ task.cover.url }}" alt="{{ task.title }}" style="width:200px;">
            {% else %}
                  <span class="text-muted"></span>
            {% endif %}
            </td>



            <div class="date">{{ task.created }}</div>

		    </div>

         {% endfor %}

 {% endblock %}
    {% endif %}

	    </div>
    </div>
 </div>
<body>

</body>
</html>