
<!DOCTYPE html>
<html>
    <head>
        {% load static %}
         <link rel="stylesheet" href="{% static 'css/update_task.css' %}">
        <link rel="stylesheet" type="text/css" href="../../static/css/update_task.css"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
 <div class="body">
    <div class="center-column">
        <div class="container-fluid" id="wrapper">
	        <div class="row">
                <center>
		        <h1>
			        Aufgabe bearbeiten &#128394

		        </h1>
                    </center>
	        </div>
        </div>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
       Todo: {{ form.title }}
       Notiz: {{ form.note}}

         <button
                type="submit"
                class="btn btn-success"
                id="add-btn">Bestätigen
        </button>

    </form>

    </div>
 </div>
</html>