body{

	background-image: url("black.jpg");
}


.center-column{
	width:  600px ;
	margin: 20px auto ;
	padding:20px;
	background-color: rgba(118, 118, 118, 0.87);
	border-radius: 2px;
	box-shadow: 6px 2px 30px 0px rgba(255, 0, 0, 0.51);
}


p{
	color: #ffffff;
	font-size:25pt;
	font-family: "monospace", Courier, "lucida console";
}

