body{

	background-image: url("black.jpg");

}
input{
	width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

input::placeholder {
	color: #d3d3d3;


}
h1{
	color: #070706;
	font-size:20pt;
	font-family: "monospace", Courier, "lucida console";
}


.center-column{
	width:  800px ;
	margin: 20px auto ;
	padding:20px;
	background-color: rgb(255, 255, 255);
	border-radius: 5px;
	box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
}


.item-row{
	background-color: rgba(255, 255, 255, 0.45);
	margin: 10px;
	padding: 20px;
	border-radius: 5px;
	color: rgba(255, 255, 255, 0.45);
	font-size: 16px;
	box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
}


.todo-completed {
	text-decoration-line: line-through;

}
.list-group {

	color: #000000;
	}

.btn-info
{
	background-color: darkolivegreen;
}
