

	body{
		background-color: #a078ac;
	}

	input{
		width: 85%;
		padding: 12px 20px;
		margin: 8px 0;
		box-sizing: border-box;
	}

	input::placeholder {
	  color: #d3d3d3;
	}

	h1{
		color: #070706;   /* Farbe orange */
		font-size:20pt;  /* Größe 28pt   */
  		font-family: "Comic Sans MS", "lucida console", sans-serif;

	}

	.submit{
		background-color: #80bfb2;
	}

	.center-column{
		width:  600px ;
		margin: 20px auto ;
		padding:20px;
		background-color: #fff;
		border-radius: 5px;
		box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
	}

	.item-row{
		background-color: #a078ac;
		margin: 10px;
		padding: 20px;
		border-radius: 5px;
		color: #fff;
		font-size: 16px;
		box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
	}

	.btn-danger{
		background-color: #de6780;
		border-color: #bb00e5;
	}
	.todo-completed {
		text-decoration-line: line-through;
		background: rgba(149, 166, 165, 0.3);
	}
	.list-group {
		background: #a078ac;
		color: #ffffff;
	}

