
body{
	background-image: url("black.jpg");

}
input{
	width: 80%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

input::placeholder {
	color: rgba(125, 125, 125, 0.32);

}
p{
	color: #ffffff;
	font-size:30pt;
	font-family: "monospace", Courier, "lucida console";
	text-align: center;
}


h1{
	font-size: 10pt;
	color: #898989;

}

.center-column{
	width:  900px ;
	margin: 20px auto ;
	padding:20px;
	background-color: rgba(118, 118, 118, 0.86);
	border-radius: 2px;
	box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
}


.item-row{
	background-color: rgba(255, 255, 255, 0.17);
	margin: 10px;
	padding: 20px;
	border-radius: 2px;
	color: rgba(255, 255, 255, 0.45);
	font-size: 16px;
	box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
}


.todo-completed {
	text-decoration-line: line-through;

}
.list-group {

	color: #ffffff;
	}
.comment {
    margin: 20px 0px 20px 20px;
}


.glyphicon glyphicon-lock
{
	color: white;
	size: auto;
}

em{
	color: white;
	text-align: center;


}

