body{
	background-color: #a078ac;
	background-image: url("blume.jpg");

}
.center-column{
	width:  600px ;
	margin: 20px auto ;
	padding:20px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
}
h1{
	color: #090808;   /* Farbe orange */
	font-size:20pt;  /* Größe 28pt   */
	font-family: "Comic Sans MS", "lucida console", sans-serif;

}

